{
  "extends": [
    "react-app",
    "prettier/prettier",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react-hooks", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "eol-last": ["error", "always"],
    "quotes": ["error", "single"],
    "no-tabs": "error",
    "import/no-anonymous-default-export": 0,
    "object-shorthand": "error",
    "@typescript-eslint/no-redeclare": 0
  },
  "env": {
    "jest": true
  }
}
